online.xhanzi.com

root /xhanzi/app/public
gzip
fastcgi / 127.0.0.1:9000 php
rewrite {
  r .*
  ext /
  to /index.php?{query}
}
header / -Server
log /xhanzi/data/access.log
errors /xhanzi/data/errors.log
on startup php-fpm --nodaemonize
tls info@xhanzi.com #/xhanzi/data/public.pem /xhanzi/data/private.pem
